body{
  background: #9999C3;
}
.Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}
.top{
  text-align: center;
  color: white;
}
.randombtn{
  display:flex;
}
h3{
    color: white;
}
